.row {
  --row-gutter-x: 2rem;
  --row-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--row-gutter-y));
  margin-right: calc(-0.5 * var(--row-gutter-x));
  margin-left: calc(-0.5 * var(--row-gutter-x));

  &.row-center {
    justify-content: center;
  }

  &.row-between {
    justify-content: space-between;
  }

  &.row-gap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .col {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--row-gutter-x) * 0.5);
    padding-left: calc(var(--row-gutter-x) * 0.5);
    margin-top: var(--row-gutter-y);
  }

  &.row-cols-4 {
    .col {
      flex: 0 0 auto;
      width: 25%;

      @media (max-width: screen-size(sm)) {
        width: 100%;
      }
    }
  }

  &.row-cols-3 {
    .col {
      flex: 0 0 auto;
      width: 33.33333333%;

      @media (max-width: screen-size(sm)) {
        width: 100%;
      }
    }
  }

  &.row-cols-2 {
    .col {
      flex: 0 0 auto;
      width: 50%;

      @media (max-width: screen-size(sm)) {
        width: 100%;
      }
    }
  }
}