:root {
  --primary: #0b0059;
  --secendory: #703efe;
  --color: #ffffff;
  --color-subtle: #ffffffb2;
  ---text-color: #000;
  --light: #00000091;
  --border: #cad7d7;
  --font-size: 14px;
  --font-weight: 400;
  --shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --rounded: 10px;
  --gap: 6.5rem;
  --space: 45px;
}